AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=ap-southeast-2
S3_BUCKET_NAME=soban-secure-fileshare-2026-391464501861-ap-southeast-2-an
FLASK_SECRET_KEY=change-this-to-a-random-string
